.grid table td {
	vertical-align: top;
}

.source-code-box {
	position: relative;
}

.source-code {
	width: 100%;
	top: 0;
	height: 40em;
	overflow: auto;
	padding: 10px!important;
}

.fields-box {

}

.fields-box a {
	display: block;
	line-height: 1.8;
}

.fields-box.two.column a {
	width: 45%;
	float: left;
}

.fields-box a span {
	font-size: 0.85em;
	margin-left: 0.2em;
	color: rgba(0,0,0,.5);
}