.source-code-box {
	position: relative;
}

.source-code {
	width: 100%;
	top: 0;
	height: 40em;
	overflow: auto;
	padding: 10px!important;
}

.fields-box {

}

.fields-box a {
	display: block;
	width: 30%;
	float: left;
	line-height: 1.8;
}