#docs-box pre.doc {
	max-height: 12em;
	overflow-y: hidden;
}

#docs-box pre.doc.full {
	max-height: none;
	overflow-y: auto;
	width: 80%;
}

#docs-box .doc-box {
	position: relative;
	padding-top: 0;
}

#docs-box .doc-box .collapse-button {
	position: absolute;
	right: 1em;
	top: 1em;
}