
/** 通用 **/
.clear {
	clear: both;
}

.hidden {
	display: none;
}

/** 扩展UI **/
.field.text {
	padding: .5em;
}

/** 布局相关 */
.top-nav {
	border-radius: 0!important;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.main {
	position: absolute;
	left: 20em;
	top: 4em;
	padding-bottom: 4em;
	padding-right: 1em;
	right: 0;
}

.main.without-menu {
	left: 7em;
}

.main table td.title {
	width: 10em;
}

.main table td.middle-title {
	width: 14em;
}

.main table td.vertical-top {
	vertical-align: top;
}

.main h3 {
	font-weight: normal;
}

.main h3 span {
	font-size: 0.8em;
}

.main h3 span.label {
	color: #6435c9;
}

.main h4 {
	font-weight: normal;
}

.main td span.small {
	font-size: 0.8em;
}

.main .button.mini {
	font-size: 0.8em;
	padding: 0.2em;
	margin-left: 1em;
}

.main-menu {
	position: fixed;
	top: 4em;
}

.main .tab-menu {

}

.main .tab-menu .item {
	padding: 1em!important;
}

.main .message .icon {
	position: absolute;
	right: 1em;
}

.main .go-top-btn {
	position: fixed;
	right: 1em;
	bottom: 2em;
	font-size: 2em;
	z-index: 999999;
	background: white;
}

.sub-menu {
	position: fixed;
	left: 7em;
	top: 4em;
}

.sub-menu .menu {
	width: 12em!important;
}

.sub-menu .menu a {
	display: block;
	word-break: break-all;
}

.sub-menu .menu .item .menu {
	margin-top: 0!important;
}

.sub-menu .fourth-menu {
	margin-left: 1.2em;
}

.sub-menu .fourth-menu .icon, .sub-menu .third-menu .icon {
	float: left!important;
}

#footer {
	position: fixed;
	bottom: 0;
	text-align: left;
	color: gray;
	width: 100%;
	border-radius: 0!important;
}

#footer a {
	font-size: 0.9em;
}