.top-nav {
	border-radius: 0!important;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.main {
	position: absolute;
	left: 20em;
	top: 4em;
	right: 0;
}

.main.without-menu {
	left: 7em;
}

.main table td.title {
	width: 10em;
}

.main table td.middle-title {
	width: 14em;
}

.main h3 {
	font-weight: normal;
}

.main h3 span {
	font-size: 0.8em;
}

.main-menu {
	position: fixed;
	top: 4em;
}

.sub-menu {
	position: fixed;
	left: 7em;
	top: 4em;
}

.sub-menu .menu {
	width: 12em!important;
}

.sub-menu .menu a {
	display: block;
}

.sub-menu .menu .item .menu {
	margin-top: 0!important;
}

.sub-menu .fourth-menu {
	margin-left: 1.2em;
}

.sub-menu .fourth-menu .icon, .sub-menu .third-menu .icon {
	float: left!important;
}