.top-nav {
	border-radius: 0!important;
}

.main {
	position: absolute;
	left: 20em;
	top: 4em;
	right: 0;
}

.main.without-menu {
	left: 7em;
}

.main table td.title {
	width: 10em;
}

.main h3 {
	font-weight: normal;
}

.sub-menu {
	position: absolute;
	left: 7em;
	top: 4em;
}

.sub-menu .menu {
	width: 12em!important;
}

.sub-menu .menu a {
	display: block;
}

.sub-menu .menu .item .menu {
	margin-top: 0!important;
}

.sub-menu .fourth-menu {
	margin-left: 1.2em;
}

.sub-menu .fourth-menu .icon, .sub-menu .third-menu .icon {
	float: left!important;
}